<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974015809940-3svns81avld62p2gctr6grelkk61fvvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974015809940-3svns81avld62p2gctr6grelkk61fvvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBFJfN-TXOMXBDsMXvV3FO8GAgRTyA3KoE</string>
	<key>GCM_SENDER_ID</key>
	<string>974015809940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unrelatedlabs.iphone.infectionalert</string>
	<key>PROJECT_ID</key>
	<string>infection-alert</string>
	<key>STORAGE_BUCKET</key>
	<string>infection-alert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974015809940:ios:a6f64eb74937a6d6372781</string>
	<key>DATABASE_URL</key>
	<string>https://infection-alert.firebaseio.com</string>
</dict>
</plist>